<div class="card bg-tertiary m-auto p-3 formulario">
    <h3 class="text-center">¡Bienvenido de nuevo!</h3>
    <h5 class="text-center">Por favor introduce tus datos para iniciar sesión</h5>
    <form class="mt-3">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" required>
        </div>
        <button (click)="iniciaSesion()" class="btn btn-primary mt-2 text-light">Iniciar sesión</button>
      </form>
</div>
