<div class="d-flex flex-column justify-content-between text-center px-2 px-lg-0">
    <div class="d-flex justify-content-between align-items-center flex-column pb-4 mt-3 mt-md-0">
        <img src="assets/img/POT.png" alt="Pokémon Online Trading Logo">
    </div>
    <h3 class="mb-0 mb-sm-2">¡Bienvenido a Pokémon Online Trading!</h3>
    <div class="d-flex justify-content-evenly align-items-center p-2 flex-lg-row flex-column">
        <div class="min-vw-25 mw-75 py-3 px-lg-5">
            <p class="m-0 text-center">
                En Pokémon Online Training podrás encontrar exactamente el Pokémon que buscas y relacionarte con otros
                jugadores independientemente del juego de la saga que estés jugando.
            </p>
        </div>
        <div class="min-vw-25 mw-75 py-3 px-lg-5">
            <p class="m-0 text-center">
                Para empezar a buscar, simplemente escribe el nombre del Pokémon que buscas en la barra de navegación
                superior y encontrarás resultados relacionados con tu busqueda.
            </p>
        </div>
        <div class="min-vw-25 mw-75 py-3 px-lg-5">
            <p class="m-0 text-center">
                En un futuro añadiremos funcionalidad de chat en esta misma página para que no tengas que utilizar correo o chats
                externos, puedes enterarte de las novedades en nuestras redes sociales.
            </p>
        </div>
    </div>
</div>